workflow-image2-certification.json
{
  "name": "PhotoCertif - Art Certification (media/image2)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-image2",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "img1",
              "name": "imageBase64",
              "value": "={{ \"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCABkAGQDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlbaWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uLj5OXm5+jp6vLz9PX29/j5+v/aAAwDAQACEQMRAD8A/fyiiigAooooAKKKKACiiigAooooAKKKKACiiigD/9k=\" }}",
              "type": "string"
            },
            {
              "id": "img2",
              "name": "title",
              "value": "Digital Art Collection 2025",
              "type": "string"
            },
            {
              "id": "img3",
              "name": "description",
              "value": "Original digital artwork for certification",
              "type": "string"
            },
            {
              "id": "cert1",
              "name": "cert_name",
              "value": "DigitalArt2025",
              "type": "string"
            },
            {
              "id": "cert2",
              "name": "cert_symbol",
              "value": "ART",
              "type": "string"
            },
            {
              "id": "cert3",
              "name": "cert_description",
              "value": "Certified original digital artwork with AI analysis",
              "type": "string"
            },
            {
              "id": "cert4",
              "name": "cert_owner",
              "value": "Artist Studio",
              "type": "string"
            },
            {
              "id": "cert5",
              "name": "external_url",
              "value": "https://example.com/art-gallery",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "test-data-image2",
      "name": "Test Data (Modify Here)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resourceType": "image2",
        "operation": "getPricing"
      },
      "id": "get-pricing-image2",
      "name": "1. Get Pricing",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [
        680,
        200
      ],
      "credentials": {
        "photoCertifApi": {
          "id": "1",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "resourceType": "image2",
        "operation": "upload",
        "fileData": "={{ $json.imageBase64 }}",
        "title": "={{ $json.title }}",
        "description": "={{ $json.description }}"
      },
      "id": "upload-image2",
      "name": "2. Upload Image",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "credentials": {
        "photoCertifApi": {
          "id": "1",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "resourceType": "image2",
        "operation": "certify",
        "storageId": "={{ $json.storage_id }}",
        "name": "={{ $('Test Data (Modify Here)').item.json.cert_name }}",
        "cert_symbol": "={{ $('Test Data (Modify Here)').item.json.cert_symbol }}",
        "cert_description": "={{ $('Test Data (Modify Here)').item.json.cert_description }}",
        "cert_prop": "={{ $('Test Data (Modify Here)').item.json.cert_owner }}",
        "external_url": "={{ $('Test Data (Modify Here)').item.json.external_url }}"
      },
      "id": "certify-image2",
      "name": "3. Submit Certification",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "photoCertifApi": {
          "id": "1",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "resourceType": "image2",
        "operation": "getStatus",
        "storageId": "={{ $json.storage_id }}"
      },
      "id": "status-image2",
      "name": "4. Check Status",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "photoCertifApi": {
          "id": "1",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "content": "=## 💰 Pricing Info\n**Type:** {{ $('1. Get Pricing').item.json.type }}\n**Price CHECKHC:** {{ $('1. Get Pricing').item.json.price_checkhc }}\n**Price USD:** ${{ $('1. Get Pricing').item.json.price_usd }}\n**Payment Wallet:** {{ $('1. Get Pricing').item.json.payment_wallet }}\n**Network:** {{ $('1. Get Pricing').item.json.network }}\n\n---\n\n## 🖼️ Upload Result\n**Storage ID:** {{ $('2. Upload Image').item.json.storage_id }}\n**Status:** {{ $('2. Upload Image').item.json.status }}\n**Hash:** {{ $('2. Upload Image').item.json.hash }}\n\n---\n\n## ✅ Certification Submitted\n**Notice:** {{ $('3. Submit Certification').item.json.notice }}\n**Certification URL:** {{ $('3. Submit Certification').item.json.certification_url }}\n\n👉 **Next Step:** User must complete payment and NFT minting at the URL above\n\n**Important:** media/image2 includes:\n- 🎨 AI Analysis (4 levels)\n- 🔒 Permanent Arweave storage\n- 📸 PRNU fingerprint verification\n\n---\n\n## 🔍 Current Status\n**Status:** {{ $('4. Check Status').item.json.status }}\n**Storage ID:** {{ $('4. Check Status').item.json.storage_id }}",
        "height": 700,
        "width": 550
      },
      "id": "sticky-note-image2",
      "name": "Results Summary",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "content": "=## 🎨 PhotoCertif Art Certification\n\n**media/image2** - Premium Art Certification\n\n### Features:\n- ✅ AI Analysis (4 authenticity levels)\n- ✅ Permanent Arweave storage\n- ✅ PRNU camera fingerprint\n- ✅ NFT creation on Solana\n- ✅ Metadata stored on IPFS\n\n### Workflow Steps:\n1. Get current CHECKHC pricing\n2. Upload image with metadata\n3. Submit certification request\n4. User completes payment\n5. Check certification status\n\n### Modify Test Data:\nEdit the \"Test Data\" node to use your own:\n- Image (base64)\n- Title & description\n- NFT name, symbol, description\n- Owner name\n- External URL",
        "height": 500,
        "width": 400,
        "color": 5
      },
      "id": "sticky-info-image2",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Test Data (Modify Here)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Data (Modify Here)": {
      "main": [
        [
          {
            "node": "1. Get Pricing",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Upload Image": {
      "main": [
        [
          {
            "node": "3. Submit Certification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Submit Certification": {
      "main": [
        [
          {
            "node": "4. Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "photocertif-image2-workflow",
  "meta": {
    "instanceId": "photocertif-dev"
  },
  "tags": []
}
