workflow-image2-certification-v1.1.0.json
{
  "name": "PhotoCertif by CHECKHC - Art Certification Workflow v1.1.0",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎨 PhotoCertif by CHECKHC - Art Certification\n\n🌐 **Learn more:** https://www.checkhc.net\n📧 **Contact:** contact@checkhc.net\n\n### 🎯 What this workflow does:\n1. **Get Pricing** - Fetch current certification cost in CHECKHC\n2. **Upload Image** - Upload JPG/PNG to PhotoCertif\n3. **Check Balance** - Verify CHECKHC balance in your wallet\n4. **Swap (if needed)** - Auto-swap SOL to CHECKHC if balance insufficient\n5. **Transfer Payment** - Send CHECKHC to PhotoCertif\n6. **Wait Confirmation** - Wait for blockchain confirmation (10s)\n7. **Certify** - Launch **AI Analysis (4 levels)** + Irys upload + NFT\n8. **Poll Status** - Wait until certification complete (AI + Irys)\n9. **Success** - Return NFT mint + AI authenticity score\n\n### 🤖 AI Authentication Levels:\n- **Level 1** (0-25%): Certified Original Human Art\n- **Level 2** (26-50%): Likely Human with AI Elements\n- **Level 3** (51-75%): Likely AI with Human Modifications\n- **Level 4** (76-100%): AI-Generated Art\n\n### 📋 Prerequisites:\n✅ PhotoCertif API credential configured\n✅ Solana API credential with private key\n✅ CHECKHC tokens or SOL for swap\n\n### 🔧 Configuration:\n- Edit **Input Data** node with your image URL\n- Assign credentials to all nodes\n- Click **Execute Workflow** to test\n\n### 📚 Documentation:\nSee WORKFLOWS_GUIDE.md in the package\n\n---\n**Developed by CHECKHC** | https://www.checkhc.net",
        "height": 560,
        "width": 420
      },
      "id": "sticky-doc",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 140]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 720]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fileUrl",
              "name": "fileUrl",
              "value": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "Landscape Photography 2025",
              "type": "string"
            },
            {
              "id": "description",
              "name": "description",
              "value": "Professional landscape photo certified via n8n",
              "type": "string"
            },
            {
              "id": "cert_name",
              "name": "cert_name",
              "value": "Landscape2025",
              "type": "string"
            },
            {
              "id": "cert_symbol",
              "name": "cert_symbol",
              "value": "LAND25",
              "type": "string"
            },
            {
              "id": "cert_description",
              "name": "cert_description",
              "value": "AI-authenticated landscape photography NFT",
              "type": "string"
            },
            {
              "id": "cert_prop",
              "name": "cert_prop",
              "value": "Photographer Name",
              "type": "string"
            },
            {
              "id": "collection_mint",
              "name": "collection_mint_address",
              "value": "",
              "type": "string"
            }
          ]
        }
      },
      "id": "input-data",
      "name": "Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 720]
    },
    {
      "parameters": {
        "operation": "getPricing",
        "resourceType": "image2"
      },
      "id": "get-pricing",
      "name": "1. Get Pricing",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [680, 720],
      "credentials": {
        "photoCertifApi": {
          "id": "photocertif_api",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "resourceType": "image2",
        "inputType": "url",
        "fileUrl": "={{ $('Input Data').item.json.fileUrl }}",
        "title": "={{ $('Input Data').item.json.title }}",
        "description": "={{ $('Input Data').item.json.description }}"
      },
      "id": "upload",
      "name": "2. Upload Image",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [900, 720],
      "credentials": {
        "photoCertifApi": {
          "id": "photocertif_api",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getTokenBalance",
        "tokenMint": "={{ $('1. Get Pricing').item.json.checkhc_mint }}",
        "walletAddress": ""
      },
      "id": "check-balance",
      "name": "3. Check CHECKHC Balance",
      "type": "n8n-nodes-solana-swap.solanaNode",
      "typeVersion": 1,
      "position": [1120, 720],
      "credentials": {
        "solanaApi": {
          "id": "solana_api",
          "name": "Solana API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('3. Check CHECKHC Balance').item.json.balance }}",
              "operation": "smaller",
              "value2": "={{ $('1. Get Pricing').item.json.price_checkhc }}"
            }
          ]
        }
      },
      "id": "if-balance",
      "name": "4. Balance Sufficient?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 720]
    },
    {
      "parameters": {
        "operation": "executeSwapAdvanced",
        "fromToken": "So11111111111111111111111111111111111111112",
        "toToken": "={{ $('1. Get Pricing').item.json.checkhc_mint }}",
        "amount": "={{ $('1. Get Pricing').item.json.price_checkhc }}",
        "slippageBps": 100
      },
      "id": "swap-tokens",
      "name": "5a. Swap SOL → CHECKHC",
      "type": "n8n-nodes-solana-swap.solanaNode",
      "typeVersion": 1,
      "position": [1560, 600],
      "credentials": {
        "solanaApi": {
          "id": "solana_api",
          "name": "Solana API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendToken",
        "tokenMint": "={{ $('1. Get Pricing').item.json.checkhc_mint }}",
        "recipientAddress": "={{ $('1. Get Pricing').item.json.payment_wallet }}",
        "amount": "={{ $('1. Get Pricing').item.json.price_checkhc }}"
      },
      "id": "transfer-payment",
      "name": "6. Transfer CHECKHC Payment",
      "type": "n8n-nodes-solana-swap.solanaNode",
      "typeVersion": 1,
      "position": [1780, 720],
      "credentials": {
        "solanaApi": {
          "id": "solana_api",
          "name": "Solana API"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-confirmation",
      "name": "7. Wait Blockchain Confirmation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 720],
      "webhookId": "blockchain-confirmation-wait-img2"
    },
    {
      "parameters": {
        "operation": "certify",
        "resourceType": "image2",
        "storageId": "={{ $('2. Upload Image').item.json.storageId }}",
        "name": "={{ $('Input Data').item.json.cert_name }}",
        "cert_symbol": "={{ $('Input Data').item.json.cert_symbol }}",
        "cert_description": "={{ $('Input Data').item.json.cert_description }}",
        "cert_prop": "={{ $('Input Data').item.json.cert_prop }}",
        "collection_mint_address": "={{ $('Input Data').item.json.collection_mint_address }}"
      },
      "id": "certify",
      "name": "8. Certify Image (AI Analysis)",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [2220, 720],
      "credentials": {
        "photoCertifApi": {
          "id": "photocertif_api",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "operation": "waitForCertification",
        "resourceType": "image2",
        "storageId": "={{ $('2. Upload Image').item.json.storageId }}",
        "pollingInterval": 120,
        "maxWaitTime": 3600
      },
      "id": "wait-cert",
      "name": "9. Wait For Certification (AI + Irys)",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [2440, 720],
      "credentials": {
        "photoCertifApi": {
          "id": "photocertif_api",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Art certified successfully with AI analysis!",
              "type": "string"
            },
            {
              "id": "storageId",
              "name": "storageId",
              "value": "={{ $('2. Upload Image').item.json.storageId }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "certification_status",
              "value": "={{ $('9. Wait For Certification (AI + Irys)').item.json.status }}",
              "type": "string"
            },
            {
              "id": "nft_mint",
              "name": "nft_mint_address",
              "value": "={{ $('9. Wait For Certification (AI + Irys)').item.json.nft_mint }}",
              "type": "string"
            },
            {
              "id": "ai_score",
              "name": "ai_authenticity_score",
              "value": "={{ $('9. Wait For Certification (AI + Irys)').item.json.ai_generated_score }}",
              "type": "number"
            },
            {
              "id": "certification_level",
              "name": "certification_level",
              "value": "={{ $('9. Wait For Certification (AI + Irys)').item.json.ai_source }}",
              "type": "string"
            },
            {
              "id": "payment_signature",
              "name": "payment_signature",
              "value": "={{ $('6. Transfer CHECKHC Payment').item.json.signature }}",
              "type": "string"
            },
            {
              "id": "irys_url",
              "name": "permanent_storage_url",
              "value": "={{ $('9. Wait For Certification (AI + Irys)').item.json.irys_url }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "success-output",
      "name": "10. Success Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 720]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Input Data", "type": "main", "index": 0}]]
    },
    "Input Data": {
      "main": [[{"node": "1. Get Pricing", "type": "main", "index": 0}]]
    },
    "1. Get Pricing": {
      "main": [[{"node": "2. Upload Image", "type": "main", "index": 0}]]
    },
    "2. Upload Image": {
      "main": [[{"node": "3. Check CHECKHC Balance", "type": "main", "index": 0}]]
    },
    "3. Check CHECKHC Balance": {
      "main": [[{"node": "4. Balance Sufficient?", "type": "main", "index": 0}]]
    },
    "4. Balance Sufficient?": {
      "main": [
        [{"node": "5a. Swap SOL → CHECKHC", "type": "main", "index": 0}],
        [{"node": "6. Transfer CHECKHC Payment", "type": "main", "index": 0}]
      ]
    },
    "5a. Swap SOL → CHECKHC": {
      "main": [[{"node": "6. Transfer CHECKHC Payment", "type": "main", "index": 0}]]
    },
    "6. Transfer CHECKHC Payment": {
      "main": [[{"node": "7. Wait Blockchain Confirmation", "type": "main", "index": 0}]]
    },
    "7. Wait Blockchain Confirmation": {
      "main": [[{"node": "8. Certify Image (AI Analysis)", "type": "main", "index": 0}]]
    },
    "8. Certify Image (AI Analysis)": {
      "main": [[{"node": "9. Wait For Certification (AI + Irys)", "type": "main", "index": 0}]]
    },
    "9. Wait For Certification (AI + Irys)": {
      "main": [[{"node": "10. Success Output", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-10T11:30:00.000Z",
      "updatedAt": "2025-01-10T11:30:00.000Z",
      "id": "1",
      "name": "PhotoCertif"
    },
    {
      "createdAt": "2025-01-10T11:30:00.000Z",
      "updatedAt": "2025-01-10T11:30:00.000Z",
      "id": "2",
      "name": "Image2"
    },
    {
      "createdAt": "2025-01-10T11:30:00.000Z",
      "updatedAt": "2025-01-10T11:30:00.000Z",
      "id": "3",
      "name": "v1.1.0"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-10T11:30:00.000Z",
  "versionId": "1",
  "id": "photocertif-image2-v1-1-0",
  "meta": {
    "instanceId": "photocertif-image2-certification-v1.1.0"
  }
}
