workflow-docs-certification-v1.1.0.json
{
  "name": "PhotoCertif by CHECKHC - Docs Certification Workflow v1.1.0",
  "nodes": [
    {
      "parameters": {
        "content": "## 📜 PhotoCertif by CHECKHC - Document Certification\n\n🌐 **Learn more:** https://www.checkhc.net\n📧 **Contact:** contact@checkhc.net\n\n### 🎯 What this workflow does:\n1. **Get Pricing** - Fetch current certification cost in CHECKHC\n2. **Upload Document** - Upload PDF/DOCX to PhotoCertif\n3. **Check Balance** - Verify CHECKHC balance in your wallet\n4. **Swap (if needed)** - Auto-swap SOL to CHECKHC if balance insufficient\n5. **Transfer Payment** - Send CHECKHC to PhotoCertif\n6. **Wait Confirmation** - Wait for blockchain confirmation (10s)\n7. **Certify** - Launch AI analysis + Irys upload + NFT creation\n8. **Poll Status** - Wait until certification complete\n9. **Success** - Return NFT mint address\n\n### 📋 Prerequisites:\n✅ PhotoCertif API credential configured\n✅ Solana API credential with private key\n✅ CHECKHC tokens or SOL for swap\n\n### 🔧 Configuration:\n- Edit **Input Data** node with your values\n- Assign credentials to all nodes\n- Click **Execute Workflow** to test\n\n### 📚 Documentation:\nSee WORKFLOWS_GUIDE.md in the package\n\n---\n**Developed by CHECKHC** | https://www.checkhc.net",
        "height": 460,
        "width": 420
      },
      "id": "sticky-doc",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 240]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 720]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fileUrl",
              "name": "fileUrl",
              "value": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "Test Document 2025",
              "type": "string"
            },
            {
              "id": "description",
              "name": "description",
              "value": "Automated certification via n8n workflow",
              "type": "string"
            },
            {
              "id": "cert_name",
              "name": "cert_name",
              "value": "TestDoc2025",
              "type": "string"
            },
            {
              "id": "cert_symbol",
              "name": "cert_symbol",
              "value": "DOC25",
              "type": "string"
            },
            {
              "id": "cert_description",
              "name": "cert_description",
              "value": "Official document certified on Solana blockchain",
              "type": "string"
            },
            {
              "id": "cert_prop",
              "name": "cert_prop",
              "value": "Your Name/Company",
              "type": "string"
            }
          ]
        }
      },
      "id": "input-data",
      "name": "Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 720]
    },
    {
      "parameters": {
        "operation": "getPricing",
        "resourceType": "docs"
      },
      "id": "get-pricing",
      "name": "1. Get Pricing",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [680, 720],
      "credentials": {
        "photoCertifApi": {
          "id": "photocertif_api",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "resourceType": "docs",
        "inputType": "url",
        "fileUrl": "={{ $('Input Data').item.json.fileUrl }}",
        "title": "={{ $('Input Data').item.json.title }}",
        "description": "={{ $('Input Data').item.json.description }}"
      },
      "id": "upload",
      "name": "2. Upload Document",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [900, 720],
      "credentials": {
        "photoCertifApi": {
          "id": "photocertif_api",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getTokenBalance",
        "tokenMint": "={{ $('1. Get Pricing').item.json.checkhc_mint }}",
        "walletAddress": ""
      },
      "id": "check-balance",
      "name": "3. Check CHECKHC Balance",
      "type": "n8n-nodes-solana-swap.solanaNode",
      "typeVersion": 1,
      "position": [1120, 720],
      "credentials": {
        "solanaApi": {
          "id": "solana_api",
          "name": "Solana API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('3. Check CHECKHC Balance').item.json.balance }}",
              "operation": "smaller",
              "value2": "={{ $('1. Get Pricing').item.json.price_checkhc }}"
            }
          ]
        }
      },
      "id": "if-balance",
      "name": "4. Balance Sufficient?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 720]
    },
    {
      "parameters": {
        "operation": "executeSwapAdvanced",
        "fromToken": "So11111111111111111111111111111111111111112",
        "toToken": "={{ $('1. Get Pricing').item.json.checkhc_mint }}",
        "amount": "={{ $('1. Get Pricing').item.json.price_checkhc }}",
        "slippageBps": 100
      },
      "id": "swap-tokens",
      "name": "5a. Swap SOL → CHECKHC",
      "type": "n8n-nodes-solana-swap.solanaNode",
      "typeVersion": 1,
      "position": [1560, 600],
      "credentials": {
        "solanaApi": {
          "id": "solana_api",
          "name": "Solana API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendToken",
        "tokenMint": "={{ $('1. Get Pricing').item.json.checkhc_mint }}",
        "recipientAddress": "={{ $('1. Get Pricing').item.json.payment_wallet }}",
        "amount": "={{ $('1. Get Pricing').item.json.price_checkhc }}"
      },
      "id": "transfer-payment",
      "name": "6. Transfer CHECKHC Payment",
      "type": "n8n-nodes-solana-swap.solanaNode",
      "typeVersion": 1,
      "position": [1780, 720],
      "credentials": {
        "solanaApi": {
          "id": "solana_api",
          "name": "Solana API"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-confirmation",
      "name": "7. Wait Blockchain Confirmation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 720],
      "webhookId": "blockchain-confirmation-wait"
    },
    {
      "parameters": {
        "operation": "certify",
        "resourceType": "docs",
        "storageId": "={{ $('2. Upload Document').item.json.storageId }}",
        "name": "={{ $('Input Data').item.json.cert_name }}",
        "cert_symbol": "={{ $('Input Data').item.json.cert_symbol }}",
        "cert_description": "={{ $('Input Data').item.json.cert_description }}",
        "cert_prop": "={{ $('Input Data').item.json.cert_prop }}"
      },
      "id": "certify",
      "name": "8. Certify Document",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [2220, 720],
      "credentials": {
        "photoCertifApi": {
          "id": "photocertif_api",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "operation": "waitForCertification",
        "resourceType": "docs",
        "storageId": "={{ $('2. Upload Document').item.json.storageId }}",
        "pollingInterval": 60,
        "maxWaitTime": 1800
      },
      "id": "wait-cert",
      "name": "9. Wait For Certification",
      "type": "n8n-nodes-photocertif.photoCertif",
      "typeVersion": 1,
      "position": [2440, 720],
      "credentials": {
        "photoCertifApi": {
          "id": "photocertif_api",
          "name": "PhotoCertif API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Document certified successfully!",
              "type": "string"
            },
            {
              "id": "storageId",
              "name": "storageId",
              "value": "={{ $('2. Upload Document').item.json.storageId }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "certification_status",
              "value": "={{ $('9. Wait For Certification').item.json.status }}",
              "type": "string"
            },
            {
              "id": "nft_mint",
              "name": "nft_mint_address",
              "value": "={{ $('9. Wait For Certification').item.json.nft_mint }}",
              "type": "string"
            },
            {
              "id": "payment_signature",
              "name": "payment_signature",
              "value": "={{ $('6. Transfer CHECKHC Payment').item.json.signature }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "success-output",
      "name": "10. Success Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 720]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Input Data", "type": "main", "index": 0}]]
    },
    "Input Data": {
      "main": [[{"node": "1. Get Pricing", "type": "main", "index": 0}]]
    },
    "1. Get Pricing": {
      "main": [[{"node": "2. Upload Document", "type": "main", "index": 0}]]
    },
    "2. Upload Document": {
      "main": [[{"node": "3. Check CHECKHC Balance", "type": "main", "index": 0}]]
    },
    "3. Check CHECKHC Balance": {
      "main": [[{"node": "4. Balance Sufficient?", "type": "main", "index": 0}]]
    },
    "4. Balance Sufficient?": {
      "main": [
        [{"node": "5a. Swap SOL → CHECKHC", "type": "main", "index": 0}],
        [{"node": "6. Transfer CHECKHC Payment", "type": "main", "index": 0}]
      ]
    },
    "5a. Swap SOL → CHECKHC": {
      "main": [[{"node": "6. Transfer CHECKHC Payment", "type": "main", "index": 0}]]
    },
    "6. Transfer CHECKHC Payment": {
      "main": [[{"node": "7. Wait Blockchain Confirmation", "type": "main", "index": 0}]]
    },
    "7. Wait Blockchain Confirmation": {
      "main": [[{"node": "8. Certify Document", "type": "main", "index": 0}]]
    },
    "8. Certify Document": {
      "main": [[{"node": "9. Wait For Certification", "type": "main", "index": 0}]]
    },
    "9. Wait For Certification": {
      "main": [[{"node": "10. Success Output", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-10T11:30:00.000Z",
      "updatedAt": "2025-01-10T11:30:00.000Z",
      "id": "1",
      "name": "PhotoCertif"
    },
    {
      "createdAt": "2025-01-10T11:30:00.000Z",
      "updatedAt": "2025-01-10T11:30:00.000Z",
      "id": "2",
      "name": "Docs"
    },
    {
      "createdAt": "2025-01-10T11:30:00.000Z",
      "updatedAt": "2025-01-10T11:30:00.000Z",
      "id": "3",
      "name": "v1.1.0"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-10T11:30:00.000Z",
  "versionId": "1",
  "id": "photocertif-docs-v1-1-0",
  "meta": {
    "instanceId": "photocertif-docs-certification-v1.1.0"
  }
}
